html {
    font-size: 36px;
}

body {
    text-transform: uppercase;
    background-color: beige;
    color: rgb(33, 253, 33);
    text-align: center;
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
}

.container {
    background-color: black;
    width: 960px;
    margin: auto;
    margin-top: 3%;
    border-radius: 40px;
}

.center {
    margin: auto;
    padding: 3%;
}

.answer {
    padding: 10px;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: rgb(33, 253, 33);
    transition: .3s color;
}

.answer:hover {
    color: magenta;
}

.startBtn {
    font-size: 2rem;
}

#title {
    font-size: 3rem;
}

#timer {
    font-size: 2rem;
}